<html>
    <head>
        <title>Noice - profit tracker</title>
        <style>            
            table.decorated_table { border-collapse: collapse; }
            table.decorated_table td + td  { border-left:1px solid black; }
            table.decorated_table th + th  { border-left:1px solid black; }
            table.decorated_table th  { border-bottom:1px solid black; }
            table.decorated_table, th, td { padding: 3px; }
            table.decorated_table tr:nth-child(even) { background: #ECECEA; }
            td.right { text-align: right; }
            td.center { text-align: center; }
            td.left { text-align: left; padding-left: 1em; }                        
            div.content { margin: auto; width: 70%; }
            tr:nth-child(odd) td.danger { color: #00000C; background: #FF5353; }
            tr:nth-child(even) td.danger { color: #1F000C; background: #FF4343; }
            tr:nth-child(odd) td.warning {color: #A8000C; background: #FFBABA; }
            tr:nth-child(even) td.warning {color: #A8000C; background: #FF9A9A; }
            tr:nth-child(odd) td.good { color: #00330C; background: #BAFFBA; }
            tr:nth-child(even) td.good { color: #00550C; background: #9AFF9A; }
            tr:nth-child(odd) td.great { color: #002300; background: #6AFF6A; }
            tr:nth-child(even) td.great { color: #004300; background: #2AFF2A; }
        </style>
    </head>
    <body>        
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>